/* google font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: calc(100vh - 1px);
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  margin: 0 1.25rem;
}

img {
  max-width: 100%;
}

.container {
  background-color: var(--white);
  border-radius: 0.625rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  padding: 1.25rem;
}

.container > img {
  border-radius: 0.625rem;
}

.container > h1 {
  color: var(--dark-blue);
  margin: 1rem 0;
  text-align: center;
}

.container > p {
  color: var(--grayish-blue);
  margin: 0 0 1rem;
  text-align: center;
}

@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}
